# Ignorar arquivos de configuração com credenciais locais
backend/src/main/resources/application.properties
*.env
.env

# Ignorar banco de dados / docker local
docker/mysql_data/

# Ignorar arquivos do Python / Simulador
venv/
.venv/
__pycache__/

# Maven / Java Build
HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# IDEs (VS Code, IntelliJ, Eclipse, NetBeans)
.vscode/
.idea
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/